html, body { 
  height: 100%; 
  margin: 0; 
  background-color: #2B2B2B; 
}

p {
  color: white;

  &#current_page_text {
    margin-left: 42px;
  }
}

.comic_overlay {
  color: white;
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  width: 20px;
  text-transform: uppercase;
  word-wrap: normal;
  height: 270px;
  width: 180px;
  position: absolute;
  top: 0px;
  left: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  //border: 10px solid #EA272E;

  .overlay_text {
    position: absolute;
    bottom: 10px;
    width: 65px;
    left: 0px;

    .title {
      position: relative;
      left: 15px;
      margin-bottom: 10px;
    }

    .further_info {
      float: left;
      margin-left: 10px;
      .edition {
        padding: 0 7px;
        background-color: #EA272E;
      }
      .year {
        background-color: #2B2B2B;
        font-style: italic;
        padding: 0 5px;
      }
    }
  }
}

ul {
  padding: 0;
}

#comics {
  margin: 0 auto;
  text-align: center;
  margin-top: 200px;
  max-width: 1000px;

  .comic {
    position: relative;
    display: inline-block;
    height: 282px;
    padding: 0 8px;
    img {
      &.front_cover {
        width: 180px;
      }
      display: block;
      margin: 0 auto;
    }

    &.favourited {
      div.front_cover:after {
        content: '';
        position: absolute;
        top: 0;
        right: 8px;
        bottom: 12px;
        left: 8px;
        border: 10px solid red;
      }
    }
  }
}

ul {
  list-style: none;
}

.heart {
  position: relative;
  left: 60px;
  bottom: 255px;
  z-index: 1;
}

.heart:hover {
  cursor: pointer;
}

#search_header {
  position: fixed;
  z-index: 2;
  top: 0px;
  width: 100%;
  text-align: center;
  background: rgba(234, 42, 48, 0.9);
  padding: 20px 0;

  img {
    display: block;
    margin: 0 auto;
  }

  input {
    width: 300px;
    height: 30px;
    border-radius: 2px;
    padding: 0 10px;
    border: 0;
    -webkit-box-shadow: 0px -1px 8px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 8px -3px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 8px -3px rgba(0,0,0,0.75);  margin-top: 20px;
  }

  ::-webkit-input-placeholder {
    font-style: italic;
    font-size: 14px;
  }
  :-moz-placeholder {
    font-style: italic;  
  }
  ::-moz-placeholder {
    font-style: italic;  
  }
  :-ms-input-placeholder {  
    font-style: italic; 
  }

}

.pagination_button {
  background-color: white;
  font-weight: bold;
  font-size: 20px;
  color: #EA262D;
  padding: 5px;
  border: 0;
  margin-bottom: 40px;

  &.left {
    margin-left: 40px;
  }

  &.right{
    float: right;
    margin-right: 40px;
  }

  &:hover {
    color: #c8141a;
    cursor: pointer;
  }

  &:disabled {
    color: #b3b3b3;
    cursor: wait;
  }
}

.box_shadow {
  -webkit-box-shadow: 0px -1px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -1px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 0px -1px 25px 0px rgba(0,0,0,0.75);
}

#no_comics {
  text-align: center;
  color: white;
  margin-top: 200px;
}
